html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: calc(100% - 20px);
  margin: 10px auto 0;
  padding: 0;
  padding-top: 40px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}
h1 {
  display: none;
}
.widget {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 50%;
  height: 50vh;
  float: left;
  padding: 10px;
  padding-bottom: 50px;
  margin-top: -40px;
}
.widget .well {
  overflow: hidden;
  height: 100%;
}
h2 {
  font-size: 120%;
}
h2, h3 {
  margin: 0 0 0.5em 0;
  text-align: center;
}
.infoblock {
  text-align: center;
  display: inline-block;
  border: 1px #bbb solid;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #bbb;
  padding: 10px;
  vertical-align: top;
  margin: 4px 6px 4px 0;
  width: 29%;
}
.hidden {
  display: none;
}
#panel {
  padding-right: 15px;
}
#panel img {
  cursor: pointer;
  width: 16px;
}
