.BSAGModule table {
  width: 100%;
}
.BSAGModule table,
.BSAGModule td::first-line {
    font-size: 28pt;
}
.BSAGModule th {
  text-align: center;
  padding-right: 10px;
  width: calc(1.5em + 11px);
}
.BSAGModule td {
  padding-right: 10px;
  font-size: 0;
}
.BSAGModule .tram,
.BSAGModule .bus {
  display: inline-block;
  font-weight: 550;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  width: 1.5em;
  height: 1.5em;
  padding-top: 0.05em;
}
.BSAGModule .bus {
  border-radius: 50%;
}
.BSAGModule .line6,
.BSAGModule .line6E {
  background-color: #f9cd1f;
}
.BSAGModule .line21 {
  background-color: #3a9bde;
}
.BSAGModule .line22 {
  background-color: #a69ac7;
}
.BSAGModule .line28 {
  background-color: #e57f17;
}
.BSAGModule .line31 {
  background-color: #96c01c;
}
.BSAGModule .line630,
.BSAGModule .line670 {
  background-color: #868789;
  font-size: 70%;
  width: 2.1em;
  height: 1.2em;
  padding: 0.45em 0;
}
